* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-image: linear-gradient(to top right, #59BFDE, #BB43F1);
    height:100vh;
    padding: 2rem;
    display: grid;
    grid-template:
    ". content ." 1fr /
    1fr 300px 1fr;
}

form {
    grid-area: content;
    padding: 1.5rem;
    height:525px;
    background-color: white;
    border-radius: 10px;
    font-size: 12px;

    display: grid;
    grid-auto-rows: auto;
    gap: 10px;
}

button {
    background-image: linear-gradient(to right, #BB43F1 , #59BFDE);
    margin-top: 5px;
    border: none;
    height: 30px;
    border-radius: 50px;
    color: white;
}

form p {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

input, 
textarea,
select {
    border: none;
    border-bottom: 1px lightgray solid;
    outline: none;
    margin-bottom: 7px;
    transition:all 0.6s
}

input::placeholder,
textarea::placeholder {
    color: lightgray;
}

.bold {
    font-weight: bold;
}
label {
    display: grid;
    align-items: end;
}

/* VALID/INVALID CSS */

/* input:valid {
    background-color: #ffdddd;
  } */


  input:focus:invalid,
  select:focus:invalid {
    border-bottom: 2px  #c00000 solid;
  }

  input:focus:valid,
  select:focus:valid {
    border-bottom: 2px #61e906 solid;
  }
  /* input:valid {
    background-color: #ffdddd;
  } */


/* form:valid {
    background-color: lightyellow;
} */

/* THANK YOU PAGE  */

main {
    font-size: 3rem;
    grid-area: content;
    color: white;
    margin-top: 50px;
}


